body {
  --c-background: #fafafa;
  --c-heading: #000000;
  --c-text: #6b6b6b;
  --c-subback: #dfdfdf;
  --c-subbord: #adadad;
  --c-subhove: #b9b9b9;
  --c-solvmit: #61b357;
  --c-solvhov: #407a64;
  --c-easy: #aedbac;
  --c-easytxt: #006d12;
  --c-easybdr: #76b985;
  --c-medium: #f5de9e;
  --c-mediumt: #6d4100;
  --c-mediumb: #d8b66d;
  --c-hard: #f5ab9e;
  --c-hardtxt: #6d0400;
  --c-hardbdr: #dd7c79;

}
 body[data-theme='dark']{
  --c-background: #202020;
  --c-heading: #e9e9e9;
  --c-text: #c0c0c0;
  --c-subback: #4e4e4e;
  --c-subbord: #6d6d6d;
  --c-subhove: #616161;
  --c-solvmit: #3b8b30;
  --c-solvhov: #6ab44c;
  --c-easy: #84b981;
  --c-easytxt: #095c16;
  --c-easybdr: #9bc5a9;
  --c-medium: #cca65f;
  --c-mediumt: #522c00;
  --c-mediumb: #dac47b;
  --c-hard: #b8786d;
  --c-hardtxt: #2b0100;
  --c-hardbdr: #c57d79;
}
body {
  transition: all 0.2s ease;
}
.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: left;
  height: 100%;
  padding: 10px;
  background-color: var(--c-background);
  color: var(--c-heading);
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.no-leet {
  flex-direction:row;
  flex-grow: 1;
  width: 100%;
  padding: 200px 0px;
  vertical-align: middle;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 10px 0px 0px;
  font-size: .8em;
  color: var(--c-text);
}


::selection {
  background: #00000000;
}

header {
  padding: 10px;
  height: 1em;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: 1.2em;
  border-bottom: var(--c-subback) 2px solid;
}

h1{
  font-size:1.5em;
  margin: 5px 10px 0px 0px;
  width: fit-content;
  cursor: context-menu;
}

img{
  height:1.3em;
  width:1.3em;
  margin: 0px 3px;
}

input[type=text]{
  background-color:var(--c-subback);
  border: none;
  border-radius:5px;
  padding: 3px;
  margin: 3px 2px;
  font-size:0.9em;
  color:var(--c-text);
}
  input[type=text]:focus {
    outline: none !important;
    border: 2px solid var(--c-subbord);
    margin: 1px 0px;
  }
  input[type=text]::selection {
    background:var(--c-subbord);
    color: white;
  }
  input[type=text].inlined {
    width: 150px;
    position: right;

  }

strong {
  margin: 5px 0px;
  cursor: context-menu;
}
  .link:hover{
    cursor:pointer;
  }

textarea{
  flex-grow: 1;
  background-color:var(--c-subback);
  border: none;
  resize: none;
  font-family: inherit;
  border-radius:5px;
  padding: 3px;
  margin: 2px 2px 5px;
  font-size:0.9em;
  color:var(--c-text);
}
  textarea:focus {
      outline: none !important;
      border: 2px solid var(--c-subbord);
      margin: 0px 0px 3px;
    }
    textarea::selection {
      background:var(--c-subbord);
      color: white;
    }

.solve-row {
  color:var(--c-text);
  display: flex;
  justify-content: left;
  align-items: center;
}
.solved-logo {
  stroke: var(--c-solvmit);
  margin: 2px 6px 0px 3px;
}
.rowed {
  display:flex;
  justify-content:space-between;
  
}

footer{
  margin: 5px 0px 0px;
}

button {
  border: none;
}

button.submit {
  background-color: var(--c-solvmit);
  padding: 5px 10px;
  border-radius:5px;
  color: white;
  border :none !important;
}
  button.submit:hover {
    transition: all 0.2s ease;
    background-color: var(--c-solvhov);
    color: white;
    cursor:pointer;
  }
button.icon-button {
  padding: 0px;
  background-color: var(--c-subback);
  height: 25px;
  width: 25px;
  align-items: center;
  padding: 5px 0px 0px;
  margin: 0px 0px 0px 5px;
  border-radius:100px;
  stroke: var(--c-text);
  border :none !important;
}
  button.icon-button:hover{
    transition: all 0.2s ease;
    background-color: var(--c-text);
    stroke: var(--c-subback);
    border :none !important;
    cursor:pointer;
  }
.tagslist {
  width: 300px;
  display: flex;
  flex-wrap:wrap;
  margin: 0px 0px 3px;
  align-items: center;
  flex-direction: row;
}
.tag {
  cursor:context-menu;
  padding: 3px 5px 3px 15px;
  width: fit-content;
  border-radius: 15px;
  font-size: 0.9em;
  align-items: center;
  background-color: var(--c-subback);
  color:var(--c-text);
  align-items: center;
  flex-direction: row;
  margin: 5px 5px 2px 2px ;
}
  .tag:hover {
    border: 2px var(--c-subbord) solid;
    margin: 3px 3px 0px 0px;
  }
.delete-tag {
  margin: 0px 2px 0px 5px;
  width: fit-content;
  padding: 4px 5px 2px;
  align-items: center;
  justify-content: center;
  background-color: var(--c-subback);
  stroke:var(--c-text);
  border-radius: 100px;
  cursor: pointer;
}
  .delete-tag:hover {
    background: var(--c-subhove);
  border-radius: 100px;
  }
.easy {
  background-color: var(--c-easy);
  padding: 3px 15px;
  color:var(--c-easytxt);
}
  .easy:hover {
    border: 2px var(--c-easybdr) solid;
  }
.medium {
  background-color: var(--c-medium);
  padding: 3px 15px;
  color:var(--c-mediumt);
}
.medium:hover {
  border: 2px var(--c-mediumb) solid;
}
.hard {
  background-color: var(--c-hard);
  padding: 3px 15px;
  color:var(--c-hardtxt);
}
.hard:hover {
  border: 2px var(--c-hardbdr) solid;
}
.add-tag {
  padding: 4px 7px;
  stroke:var(--c-text);
  cursor: pointer;
}

.star {
  stroke: #f5b732;
  cursor:pointer;
  transition: all 0.2s ease;
  fill: #00000000;
  margin: 5px 10px 0px;
}
.star:hover {
  fill: #f5b73288;
  margin: 5px 10px 0px;
}

.full {
  fill: #f5b732;
}

.new-tag {
  padding:0px 5px 0px 0px;
  cursor:text;
  outline: none !important;
  
}
.new-tag::selection {
  background:var(--c-subbord);
  color: white;
}
.push-tag {
  margin: 0px 2px 0px 0px;
  background: var(--c-subback) !important;
  width: fit-content;
  padding: 4px 5px 2px;
  align-items: center;
  justify-content: center;
  stroke:var(--c-text);
  border-radius: 100px;
  cursor: pointer;
}
  .push-tag:hover {
    background: var(--c-subhove) !important;
  }
.date-label {
  margin: 5px 37px 5px 0px;
}
.date {
  font-size: 0.95em;
  color:var(--c-text);
}

.contain {
  background:#00000000;
  margin: 0px;
  padding: 0px;

}